* {
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
  height: 99vh;
  width: 99vw;
  background-color: blanchedalmond;
  margin: 5px auto;
}
.App h2 {
  margin: 10px;
}
button {
  width: 200px;
  padding: 10px;
  height: 40px;
  margin: 20px auto;
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: aquamarine;
  color: #ffffff;
  font-weight: 400;
}

button:hover {
  cursor: pointer;
  color: #c39a9a;
  font-size: 20px;
  height: 45px;
  width: 210px;
  font-weight: 600;
}
